*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 60%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: black;
    max-width: 500px;
    border-radius: 20px;
    
    
    
}

.display{
    width: 100%;
    font-size: 4rem;
    padding: 20px;
    box-sizing: border-box;
    text-align: right;
    border: none;
    background-color: hsl(0, 0%, 30%);
    border-radius: 20px;
    color: white;
     overflow-x: auto;        /* allow horizontal scroll */
    white-space: nowrap;    /* keep in one line */
    text-overflow: clip;
}

button{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 20%);
    border: none;
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

.keys{
    display: grid;
    grid-template-columns: repeat(4,3fr);
    gap: 15px;
    padding:20px;
}

button:hover{
    background-color: hsl(0, 0%, 30%);
}
button:active{
    background-color: hsl(0, 0%, 40%);
}

.operator{
    background-color: hsl(30, 90%, 46%);
}

.operator:hover{
    background-color: hsl(30, 90%, 56%);
}
.operator:active{
    background-color: hsl(30, 90%, 66%);
}