*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    text-align: center;
    height: 100vh;
    /* background-color: #caf0f8a3; */
    background-color: ghostwhite;
}

nav{
    height: 20%;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px;
    box-sizing: border-box;
    /* background-color: #ade8f470; */
    background-color: transparent;
    position: sticky;
    top: 0px;
    backdrop-filter: blur(15px);
    
}

.menu-toggle{
    display: none;
}

.info{
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    
}

@media (max-width: 768px) {

    nav{
        height: auto;
        padding: 12px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        
        
    }

    .logo{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .menu-toggle{
    display: block;
}
    .info{
        /* 2. Take it out of the normal flow */
        position: absolute;
        
        /* 3. Position it exactly below the nav */
        top: 105%; 
        left: 0;
        width: 100%;
        
        
        height: auto;
        flex-direction: column;
        gap: 20px;
       padding: 20px 0px;
       display: none;
        /* background-color: #ade8f4; */
        background-color: ghostwhite;
       
    }

    .info.active{
        display: flex;
    }
}


.u{
    text-decoration: none;
    color: black;
}

.menu-btn{
    /* background-color: #ade8f4; */
    background-color: ghostwhite;
    border: none;
    width: 54px;
    height: 23px;
}

.intro{
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;
    text-align: left;
}

.landing{
    height: 90%;
    display: flex;
        /* background: linear-gradient(106deg, white 47%, #caf0f83b 49%) */
        background: linear-gradient(106deg, white 47%, ghostwhite
         49%)
}

.intro,.gcp{
    width: 50%;
    height: 100%;
}

.a{
    font-size: 26px;
    font-weight: bold;
}

.b{
    font-size: 49px;
    font-weight: bolder;
}

.c{
    font-size: 23px;
}

.a,.b,.c{
    padding-left: 155px;
}

.me{
    width: 300px;
}

.img{
    width: 485px;
    height:500px;
    border: 2px solid gray;
    border-radius: 100%;
    background-image: url('photo.jpeg');
    background-size: cover;
    background-position: center;
}

.gcp{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px;
}.proj{
    height: 50px;
    width: 100%;
    text-align: left;
    padding: 20px 42px;
    
}

.a01,.a02,.a03,.a04{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 46vh;
    cursor: pointer;
    box-shadow: 0 5px 12px black;
    border-radius: 22px;
    background-color: aliceblue;
    padding: 2px 15px;
}

#about{
    height: 50vh;
    width: 100%;
    word-wrap:normal;
    text-align: left;
    padding: 20px 42px;
}

/* .abt-h{
    padding: 12px 42px;
} */

/* .abt{
        
    font-size: 25px;
    padding: 20px 42px;

} */

#contact{
    height: 50vh;
    width: 100%;
    word-wrap:normal;
    text-align: left;
    padding: 20px 42px;
    /* font-size: 25px; */
}

.t{
    text-align: left;
    font-size: 25px;
    padding: 20px 42px;
}

a{
    text-decoration: none;
    color: black;
}
